<h1>All Users:</h1>

<button (click)="refresh()" class="btn btn-success mb-3">refresh</button>

<ng-container *ngFor="let user of allUsers">
  <p>
    id: <span class="dynamic">{{ user.id }}</span> name:
    <span class="dynamic">{{ user.name }}</span> username:
    <span class="dynamic">{{ user.email }}</span> mobile:
    <span class="dynamic">{{ user.mobile }}</span>
  </p>
</ng-container>

<ng-container *ngIf="userId">
  <p>
    user params: <span class="text-danger">{{ userId }}</span>
  </p>
</ng-container>

<ng-container *ngIf="userQueryName">
  <p>
    query params: <span class="text-danger">{{ userQueryName }}</span>
  </p>
</ng-container>

<a [queryParams]="{ name: 'kaveh' }" routerLink="/users">add query param</a>

<br />
<hr />
<br />

<ng-container *ngIf="allUsers">
  <app-menu [users-data]="allUsers"></app-menu>
</ng-container>
